<div class="col-6 list-group" >
  <li class="list-group-item">Object : <%= link_to (@email.Object), email_path(@email), remote: true%>
  <% if @email.read == false %>
  <span class="badge badge-pill badge-success">Non-lu</span>
<%end%>
</li>
</div> 
